.container {
  padding: 150px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.container .btn {
  display: flex;
  justify-content: center;
}
.container .btn a {
  padding: 16px;
  border: 1px solid #101010;
  background-color: #101010;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  outline: none;
}
.selectContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex {
  display: flex;
  gap: 8px;
}

select {
  width: 100px;
}
